{
  "plugins": ["import", "node", "monorepo", "@typescript-eslint"],
  "rules": {
    "node/no-extraneous-require": ["error"],
    "node/no-extraneous-import": ["error"],
    "monorepo/no-relative-import": ["error"]
  },
  "settings": {
    "import/parsers": {
      "typescript-eslint-parser": [".ts", ".tsx"]
    },
    "node": {
      "tryExtensions": [".ts", ".tsx", ".js", ".jsx"]
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  }
}
